html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #aaa;
}

.container {
  display: flex;
  height: 100%;
  justify-content: center;
}

canvas {
  height: 100%;
}
